.notfound-image {
  width: 300px;
  height: 400px;
  align-self: center;
}

.notfound-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
